.searchInputs {
  display: flex;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically */
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 5px;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 40px;
  width: 40px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 25px;
}

.CloseIcon svg {
  font-size: 15px;
}

.dataResult {
  position: absolute;
  top: calc(100%-0.25px);
  left: calc(100% -300px);
  z-index: 1;
}


.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

.dataItem:hover {
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

#clearBtn {
  cursor: pointer;
}